.animated{
	animation-duration: 1s;
}
.fadeIn{
	animation-duration: 2s;
}
.gradient{
	animation-delay: 0.5s;
}
h1,h2,h3,h4,h5{
	margin:0;
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, input, button, .button{
	outline: none;
	color: #000;
}
a, input, button, .button:focus{
	outline: none;
}
a, input, button, .button:active{
	outline: none;
}
a, input, button, .button:hover, a:hover{
	outline: none;
	text-decoration: none;
	color: #000;
}
body{
	overflow-x:hidden;
	letter-spacing: 0;
	font-family: Ubuntu, sans-serif;
	color: #000;
	background: rgba(45,64,203,1);
	background: -moz-linear-gradient(-45deg, rgba(45,64,203,1) 0%, rgba(43,94,205,1) 8%, rgba(42,137,205,1) 17%, rgba(42,170,221,1) 25%, rgba(37,217,241,1) 34%, rgba(42,170,221,1) 53%, rgba(37,217,241,1) 71%, rgba(42,137,205,1) 82%, rgba(43,94,205,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,64,203,1)), color-stop(8%, rgba(43,94,205,1)), color-stop(17%, rgba(42,137,205,1)), color-stop(25%, rgba(42,170,221,1)), color-stop(34%, rgba(37,217,241,1)), color-stop(53%, rgba(42,170,221,1)), color-stop(71%, rgba(37,217,241,1)), color-stop(82%, rgba(42,137,205,1)), color-stop(100%, rgba(43,94,205,1)));
	background: -webkit-linear-gradient(-45deg, rgba(45,64,203,1) 0%, rgba(43,94,205,1) 8%, rgba(42,137,205,1) 17%, rgba(42,170,221,1) 25%, rgba(37,217,241,1) 34%, rgba(42,170,221,1) 53%, rgba(37,217,241,1) 71%, rgba(42,137,205,1) 82%, rgba(43,94,205,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(45,64,203,1) 0%, rgba(43,94,205,1) 8%, rgba(42,137,205,1) 17%, rgba(42,170,221,1) 25%, rgba(37,217,241,1) 34%, rgba(42,170,221,1) 53%, rgba(37,217,241,1) 71%, rgba(42,137,205,1) 82%, rgba(43,94,205,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(45,64,203,1) 0%, rgba(43,94,205,1) 8%, rgba(42,137,205,1) 17%, rgba(42,170,221,1) 25%, rgba(37,217,241,1) 34%, rgba(42,170,221,1) 53%, rgba(37,217,241,1) 71%, rgba(42,137,205,1) 82%, rgba(43,94,205,1) 100%);
	background: linear-gradient(135deg, rgba(45,64,203,1) 0%, rgba(43,94,205,1) 8%, rgba(42,137,205,1) 17%, rgba(42,170,221,1) 25%, rgba(37,217,241,1) 34%, rgba(42,170,221,1) 53%, rgba(37,217,241,1) 71%, rgba(42,137,205,1) 82%, rgba(43,94,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d40cb', endColorstr='#2d40cb', GradientType=1 );
	background-position: 0 100px;
}
.container{
	max-width: 90%;
}
.borderless-container{
	margin: 0px;
	display: flex;
	height: auto;
}
header{
	height: 100vh;
	margin-bottom: 80px;
	background: rgba(16,16,50,1);
    background: -moz-linear-gradient(-45deg, rgba(16,16,50,1) 0%, rgba(34,41,122,1) 59%, rgba(34,41,171,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(16,16,50,1)), color-stop(59%, rgba(34,41,122,1)), color-stop(100%, rgba(34,41,171,1)));
    background: -webkit-linear-gradient(-45deg, rgba(16,16,50,1) 0%, rgba(34,41,122,1) 59%, rgba(34,41,171,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(16,16,50,1) 0%, rgba(34,41,122,1) 59%, rgba(34,41,171,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(16,16,50,1) 0%, rgba(34,41,122,1) 59%, rgba(34,41,171,1) 100%);
    background: linear-gradient(135deg, rgba(16,16,50,1) 0%, rgba(34,41,122,1) 59%, rgba(34,41,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101032', endColorstr='#2229ab', GradientType=1 );
    box-shadow: 0px 10px 50px rgba(14,11,27,1);
}
header::before{
	content: '';
	position: absolute;
	display: block;
	height: 80px;
	width: 100%;
	background: #0e0b1b;
}
.navigation{
	z-index: 3;
	cursor: default;
	height: 80px;
}
nav a.facebook, nav a.instagram, nav a.viber{
	width: 42px;
	height: 42px;
	border-radius: 14px;
	background: linear-gradient(135deg, rgba(42,137,205,1) 0%, rgba(42,170,221,1) 50%, rgba(37,217,241,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #000;
	transition: all 0.05s ease-in-out;
}
nav a.instagram{
	font-size: 34px;
	margin-right: 20px;
}
nav a.viber:hover, a.instagram:hover, a.facebook:hover{
	color: #fff;
}
nav a.facebook:hover{
  	background: #3b579d;
}
nav a.instagram:hover{
	background-size: 42px 42px;
  	background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
nav a:hover{
	text-decoration: none;
}
nav a.viber{
	margin-right: 20px;
	margin-left: auto;
	font-size: 34px;
}
nav a.viber:hover{
  	background: #8d3abc;
}
.offer{
	margin-top: 15vh;
	flex-flow: row wrap;
}
.top-title{
  	color: #2a84cd;
}
.offer__logo{
	background-image: url(../img/new-logo.png);
	background-size: 700px 350px;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 700px;
}

.arrow-down{
	height: 50px;
	width: 50px;
	display: none;
}

.gradient{
	position: absolute;
	display: flex;
	content: '';
	width: 100%;
	height: 10px;
	left: 0;
	bottom: 20px;
	border-bottom: 20px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, transparent 2%, rgba(43,94,205,1) 30%, rgba(42,137,205,1) 45%, rgba(42,170,221,1) 60%, rgba(37,217,241,1) 70%, transparent 98%, transparent 100%);
    border-image-slice: 1;
}
h1{
	font-size: 72px;
	text-align: center;
	font-weight: 900;
}
section{
	margin-bottom: 80px;
}
.go-section .container{
	flex-flow: row nowrap;
	overflow-x: hidden;
}
.go-section__left{
	width: 50%;
	overflow: hidden;
}
.go-section__title{
	font-size: 48px;
	line-height: 50px;
	font-weight: 900;
}
.go-section__description span {
	transition: all 0.3s ease-in-out;
	display: inline-block;
}
.highlighted{
	background-color: #ffc72a;
	display: inline-block;
	padding: 0 1px;
}
a.lesson{
	width: 310px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	margin: 60px auto 40px auto;
	padding: 10px 25px;
	border-radius: 30px;
	font-size: 24px;
	font-weight: 400;
	cursor: pointer;
	box-shadow: 0px 12px 25px -4px rgba(0,0,0, 0.25);
	transition: all 0.3s ease-in-out 0s;
	position: relative;
	z-index: 1;
}
a.lesson:hover, a.lesson:focus {
  text-decoration: none;
  border: 2px solid #000;
}
a.lesson::after {
  content: '';
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid #000;
  animation: my_animation_desktop_big 0.5s infinite alternate;
}
a.lesson:hover::after, a.lesson:focus::after, a.lesson:visited::after {
  animation: none;
  display: none;
}
@keyframes my_animation_desktop_big {
  0% {
    transform: scale(1.0);
    border: 1px solid rgba(0,0,0,1);
  }
  100% {
  	transform: scale(1.03);
 	border: 5px solid rgba(0,0,0,0.5);
  }
}
.go-section__right{
	margin-top: 20px;
	width: 50%;
	height: 375px;
	background: url(http://media.lpgenerator.ru/images/367266/group-340-min.png#size_1279x783) center center no-repeat;
	background-size: 100% 100%;
	overflow-x: hidden;
	margin-left: auto;
}
/*______________________products____________________*/
#products{
	overflow-x: hidden;
}
.container-fluid{
	margin: 0 auto;
	width: 98%;
}
.row-1, .row-2, .row-3, .row-4{
	margin-top: 30px;
}
.product-bg-part{
	width: 100%;
	border: 2px solid #000;
}
.row-1 .product-bg-part, .row-3 .product-bg-part {
	height: 250px;
	z-index: 1;
}
.row-2 .product-bg-part{
	height: 400px;
	z-index: 1;
}
.product-1-bg-part{
	background: url(../img/bg-1.png) no-repeat;
	background-size: cover;
}
.product-2-bg-part{
	background: url(../img/bg-2.png) no-repeat;
	background-size: cover;
	animation-delay: 0.3s;
}
.product-3-bg-part{
	background: url(../img/bg-3.png) no-repeat;
	background-size: cover;
	animation-delay: 0.6s;
}
.product-4-bg-part{
	background: url(../img/bg-4.png) no-repeat -40px 0px;
	background-size: cover;
}
.product-5-bg-part{
	background: url(../img/bg-5.png) no-repeat;
	background-size: cover;
	animation-delay: 0.3s;
}
.product-6-bg-part{
	background: url(../img/bg-6.png) no-repeat 40px 0px;
	background-size: cover;
}
.product-7-bg-part{
	animation-delay: 0.3s;
}
.product-8-bg-part{
	background: url(../img/bg-8.png) no-repeat;
	background-size: cover;
	animation-delay: 0.6s;
}
.row-1 .product-bg, .row-3 .product-bg{
	position: relative;
	height: 100%;
	width: 100%;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}
.row-2 .product-bg{
	position: relative;
	height: 100%;
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.product-1-bg:hover{
	background: #5a5e88;
}
.product-2-bg:hover{
	background: #dc9758;
}
.product-3-bg:hover{
	background: #dcc6b7;
}
.product-4-bg:hover{
	background: #050924;
}
.product-4-bg:hover .product-name{
	color: #1fbbec;
}
.product-4-bg:hover .product-description{
	color: #b3d7f2;
}
.product-5-bg:hover{
	background: #b7b16e;
}
.product-6-bg:hover{
	background: #c76468;
}
.product-7-bg:hover{
	background: #1e6485;
}
.product-8-bg:hover{
	background: #934f4d;
}
.product-img{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}
.product-1-img{
	background: url(../img/Britain-flag.png) no-repeat right bottom;
	background-size: contain;
}
.product-2-img{
	background: url(../img/lion.png) no-repeat right bottom;
	background-size: contain;
}
.product-3-img{
	background: url(../img/socratus.png) no-repeat right bottom;
	background-size: contain;
}
.product-4-img{
	background: url(../img/ninateacher.png) no-repeat right bottom;
	background-size: contain;
}
.product-5-img{
	background: url(../img/travelling.png) no-repeat right bottom;
	background-size: contain;
}
.product-6-img{
	background: url(../img/discussion.png) no-repeat right bottom;
	background-size: contain;
}
.product-7-img{
	background: url(../img/it.png) no-repeat right bottom;
	background-size: contain;
}
.product-8-img{
	background: url(../img/examination.png) no-repeat right bottom;
	background-size: contain;
}
.product-inner{
	padding: 10px 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	transition: all 0.5s ease-in-out;
}
.nina-description{
	width: 65%;
}
.product-name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    display: inline-block;
}
.mb10{
    margin-bottom: 10px;
}
.product-description{
	font-size: 18px;
	margin: 3px 0;
	line-height: 30px;
}
/*_____________________________________________________*/
#merits{
	overflow-x: hidden;
}
.section .container, .list__item{
	flex-flow: row wrap;
}
.section__title{
	font-size: 54px;
	text-align: center;
	width: 100%;
}
.section__img{
	width: 640px;
	height: 260px;
	border-radius: 12px;
	box-shadow: 0px 15px 26px 8px rgba(0,0,0,0.3);
}
ul.list{
	margin-top: 0px;
}
.list__item{
	margin-top: 50px;
}
.list__item .title{
	font-size: 36px;
	display: flex;
	line-height: 47px;
	margin-top: 10%;
}
.list__item-text{
	flex-flow: row wrap;
	align-content: flex-start;
	width: 50%;
}
.list__item-pic{
	width: 47%;
	box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16), 0px 40px 50px rgba(0, 0, 0, 0.18);
	transition: all 0.3s ease-in-out;
	border-radius: 20px;
}
.list__item-1{
	margin-top: 30px;
}
.list__item-1-left .title, .list__item-5-right .title{
	flex-flow: row wrap;
}
.title-1-span, .title-5-span{
	margin-left: 65px;
}
.list__item-1-right{
	margin-left: auto;
	background: url(../img/ladies.png) bottom center no-repeat;
	background-size: cover;
	height: 390px;
}
.list__item-pic:hover{
	transform: scale(1.05);
	box-shadow: 0 30px 30px -5px rgba(0, 0, 0, 0.3);
}
.list__item-2-left{
	background: url(../img/nina-pic.png) center center no-repeat;
	margin-right: auto;
	background-size: 530px 530px;
	height: 500px;
	width: 500px;
}
.list__item-2-right .title, .list__item-5-right .title{
	margin-top: 60px;
}
.list__item-3-left .title{
	margin-top: 100px;
}
.list__item-3-right{
	background: url(../img/all-adults.png) right bottom no-repeat;
	background-size: cover;/*530px 530px;*/
	height: 510px;
	width: 46%;
	margin-left: auto;
}
.list__item-4 .title, .list__item-6 .title{
	margin-top: 20px;
}
.list__item-5-left{
	background: url(../img/activities.png) center bottom no-repeat;
	background-size: cover;/*495px 510px;*/
	height: 500px;

	margin-right: auto;
}
.list__item-5-right  span.new_line{
	display: inline;
	margin: 0;
}
.list__item .decription, .go-section__description{
	font-size: 22px;
	margin-top: 20px;
}
.list__item .title::before{
	display: flex;
	content: '';
	height: 45px;
	width: 45px;
	margin-right: 20px;
}
.list__item:first-child .title::before{
	background: url(../img/speak-emoji.png) center center no-repeat;
	background-size: 45px 45px;
	margin-top: 25px;
}
.list__item:first-child .title span{
	margin-top: -25px;
}
.list__item:nth-child(2) .title::before{
	background: url(../img/Writing_Hand_Emoji_.png) center center no-repeat;
	background-size: 45px 45px;
	margin-top: -2px;
}
.list__item:nth-child(3) .title::before{
	background: url(../img/face-with-monocle.png) center center no-repeat;
	background-size: 45px 45px;
}
.list__item:nth-child(4) .title::before{
	background: url(../img/holding-us-flag.png) center center no-repeat;
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
}
.list__item:nth-child(5) .title::before{
	background: url(../img/microphone.png) center center no-repeat;
	background-size: 45px 45px;
}
.list__item:nth-child(5) .title::after{
	display: flex;
	content: '';
	height: 50px;
	width: 50px;
	background: url(../img/Open_Book_Emoji_1024x1024.webp) center center no-repeat;
	background-size: 50px 50px;
	margin-left: 20px;
}
span.one-line{
	margin: 0;
	display: inline-block;
}
.list__item:nth-child(6) .title::before{
	background: url(../img/Hugging_Face_Emoji_.png) center center no-repeat;
	background-size: 45px 45px;
}
footer{
	margin-top: 55px;
	background: #100e17;
	color: #fff;
	box-shadow: 0px -10px 35px rgba(14,11,27,1);
}
footer .row{
	height: 70px;
	margin: 0;
}
footer p{
	margin-bottom: 0;
	display: flex;
	line-height: 50px;
	font-size: 18px;
}
footer h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 45px;
}
.company, .good-life{
	width: 33%;
}
.good-life{
	justify-content: flex-end;
}
.good-life::before{
	display: flex;
	content: '';
	height: 50px;
	width: 40px;
	background: url(../img/live-long.png) center center no-repeat;
	background-size: 40px 40px;
	margin-right: 10px;
}
.developer{
	line-height: 20px;
	margin: 20px 0;
}
.developer__link{
	color: #fff;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: #ffc331;
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size:20px;
}