.animated{
	animation-duration: 1s;
}
.fadeIn{
	animation-duration: 2s;
}
.gradient{
	animation-delay: 0.5s;
}
h1,h2,h3,h4,h5{
	margin:0;
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, input, button, .button{
	outline: none;
	color: #000;
}
a, input, button, .button:focus{
	outline: none;
}
a, input, button, .button:active{
	outline: none;
}
a, input, button, .button:hover, a:hover{
	outline: none;
	text-decoration: none;
	color: #000;
}
.caps{
	text-transform: uppercase;
}
body{
	overflow-x: hidden;
	letter-spacing: 0;
	font-family: Ubuntu, sans-serif;
	color: #000;
}
.container{
	max-width: 90%;
}
.borderless-container{
	margin: 0px;
	display: flex;
	height: auto;
}
header{
	
}
.header-top{
	background: #d0a382;
	font-size: 16px;
	height: 40px;
}
.search{
	height: 100%;
	margin-left: 10px;
	width: 75%;
}
.header-top h5{
	font-size: 14px;
}
.contacts{
	height: 100%;
	width: 12.5%;
}
.contacts:before{
	content: '';
	display: flex;
	height: 100%;
	border-left: 0.5px solid #2b2024;
	opacity: 0.5;
	width: 0.5px;
	margin: 0;
}
.contacts:after{
	content: '';
	display: flex;
	height: 100%;
	border-right: 0.5px solid #2b2024;
	opacity: 0.5;
	width: 0.5px;
	margin: 0;
}
.menu{
	height: 100%;
	font-size: 18px;
	width: 12.5%;
}
.navigation{
	z-index: 3;
	height: 40px;
}


footer{
	margin-top: 55px;
	background: #100e17;
	color: #fff;
	box-shadow: 0px -10px 35px rgba(14,11,27,1);
}
footer .row{
	height: 70px;
	margin: 0;
}
footer p{
	margin-bottom: 0;
	display: flex;
	line-height: 50px;
	font-size: 18px;
}
footer h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 45px;
}
.company, .good-life{
	width: 33%;
}
.good-life{
	justify-content: flex-end;
}
.good-life::before{
	display: flex;
	content: '';
	height: 50px;
	width: 40px;
	background: url(../img/live-long.png) center center no-repeat;
	background-size: 40px 40px;
	margin-right: 10px;
}
.developer{
	line-height: 20px;
	margin: 20px 0;
}
.developer__link{
	color: #fff;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: #ffc331;
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size:20px;
}