.animated{
	animation-duration: 1s;
}
.fadeIn{
	animation-duration: 2s;
}
.gradient{
	animation-delay: 0.5s;
}
h1,h2,h3,h4,h5{
	margin:0;
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, input, button, .button{
	outline: none;
	color: #000;
}
a, input, button, .button:focus{
	outline: none;
}
a, input, button, .button:active{
	outline: none;
}
a, input, button, .button:hover, a:hover{
	outline: none;
	text-decoration: none;
	color: #000;
}
body{
	overflow-x:hidden;
	letter-spacing: 0;
	font-family: Ubuntu, sans-serif;
	color: #000;
}
.container{
	max-width: 90%;
}
.borderless-container{
	margin: 0px;
	display: flex;
	height: auto;
}
header{
	
}
.navigation{
	z-index: 3;
	cursor: default;
	height: 80px;
}
nav a.facebook, nav a.instagram, nav a.viber{
	width: 42px;
	height: 42px;
	border-radius: 14px;
	background: linear-gradient(135deg, rgba(42,137,205,1) 0%, rgba(42,170,221,1) 50%, rgba(37,217,241,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #000;
	transition: all 0.05s ease-in-out;
}
nav a.instagram{
	font-size: 34px;
	margin-right: 20px;
}
nav a.viber:hover, a.instagram:hover, a.facebook:hover{
	color: #fff;
}
nav a.facebook:hover{
  	background: #3b579d;
}
nav a.instagram:hover{
	background-size: 42px 42px;
  	background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
nav a:hover{
	text-decoration: none;
}
nav a.viber{
	margin-right: 20px;
	margin-left: auto;
	font-size: 34px;
}
nav a.viber:hover{
  	background: #8d3abc;
}

footer{
	margin-top: 55px;
	background: #100e17;
	color: #fff;
	box-shadow: 0px -10px 35px rgba(14,11,27,1);
}
footer .row{
	height: 70px;
	margin: 0;
}
footer p{
	margin-bottom: 0;
	display: flex;
	line-height: 50px;
	font-size: 18px;
}
footer h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 45px;
}
.company, .good-life{
	width: 33%;
}
.good-life{
	justify-content: flex-end;
}
.good-life::before{
	display: flex;
	content: '';
	height: 50px;
	width: 40px;
	background: url(../img/live-long.png) center center no-repeat;
	background-size: 40px 40px;
	margin-right: 10px;
}
.developer{
	line-height: 20px;
	margin: 20px 0;
}
.developer__link{
	color: #fff;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: #ffc331;
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size:20px;
}