@media (min-width: 576px) {
	.container{
		max-width: 320px;
	}
	header .container{
		max-width:100%;
	}
	#page-head {
	    background-attachment: fixed;
	}

}
@media (min-width: 768px) {
	.container, .go-section .container{
		max-width: 570px;
	}
	

}
@media (min-width: 992px) {
	.container{
		max-width: 760px;
	}
	#about img.chief-photo {
    	display: block;
	}
	#about .sign h2 {
    	font-family: "El Messiri", sans-serif;
    	font-weight: 500;
    	padding: 20px 0;
	}
	footer{
		margin-top: 45px;
	}
	
}
@media (min-width: 1200px) {
	.container{
		max-width: 990px;
	}
	header .container{
		max-width:100%;
	}
	
	h1{
		font-size: 62px;
	}
	

	
}