@media (min-width: 576px) {
	.container{
		max-width: 320px;
	}
	header .container{
		max-width:100%;
	}
	footer h4{
		order: 1;
		width: 100%;
		margin: 15px 0;
	}
}
@media (min-width: 768px) {
	.container, .go-section .container{
		max-width: 570px;
	}
	
	footer{
		margin-top: 30px;
	}
	footer p{
		font-size: 12px;
	}
	footer h4{
		font-size: 18px;
	}
}
@media (min-width: 992px) {
	.container{
		max-width: 760px;
	}
	
	footer{
		margin-top: 45px;
	}
	
}
@media (min-width: 1200px) {
	.container{
		max-width: 990px;
	}
	header .container{
		max-width:100%;
	}
	
	h1{
		font-size: 62px;
	}
	
	footer{
		margin-top: 50px;
	}
	
}