<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>О чем забывают веб-дизайнеры / Вебинар</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header" id="header">
		<div class="container">
			<nav>
				<a class="logo" href="#">
					wayup.in
				</a>
				<div class="description">
					<span>онлайн-мастер-класс</span>
					<span>19:00 (мск/киев)</span>         
				</div>
				<div class="mail">
					reg@wayup.in
				</div>
			</nav>
			<div class="offer flex">
				<div class="offer__left">
					<h1 class="main-title flex">
						<div class="main-title__left">
							<span class="main-title__first">
								<span class="red">О</span> чем
							</span>
						</div>
						<div class="main-title__right">
							<span class="main-title__second">
								забывают
							</span>
							<span class="main-title__third">
								веб-дизайнеры
							</span>
						</div>
					</h1>
					<p class="offer__intro">
						Существует ряд <span class="red">скрытых проблем</span> в работе веб-дизайнеров,
которые бесповоротно портят о них впечатление<br>
и лишают портфолио настоящих шедевров
					</p>
					<button class="offer__btn button">
						Зарегистрироваться
					</button>
				</div>
				<div class="offer__right">
					<img src="img/wheel.png" alt="Skills wheel">
				</div>
			</div>
		</div>
	</header>
	<section class="topics" id="topics">
		<div class="container">
			<h2>
				Какие <span class="red">темы</span> мы разберем
			</h2>
			<ul class="skills flex">
				<li class="skills__item">
					<h3 class="skills__title">
						Photoshop
					</h3>
					<p class="skills__text">
						Большинство веб-дизайнеров допускают непростительные ошибки при работе со своим основным инструментом
					</p>
				</li>
				<li class="skills__item">
					<h3 class="skills__title">
						Дизайн
					</h3>
					<p class="skills__text">
						Понимание, что есть красиво, а что тлен, отделяет специалистов от дилетантов. Мы разберем, как делать по-настоящему «правильные» вещи
					</p>
				</li>
				<li class="skills__item">
					<h3 class="skills__title">
						Фриланс
					</h3>
					<p class="skills__text">
						Деятельность веб-дизайнера считается успешной с случае, если он умеет монетизировать свои знания. Я покажу основные ошибки в продвижении
					</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="reasons" id="reasons">
		<div class="container">
			<h2>
				<span class="red">3</span> причины, почему это важно
			</h2>
			<div class="reasons-wrap flex">
				<div class="reasons-wrap__img"></div>
				<div class="reasons-wrap__content">
					<ul class="reasons-list">
						<li class="reasons-list__item flex">
							<div class="reasons-list__index">
								1
							</div>
							<div class="reasons-list__content">
								<h4 class="reasons-list__title">
									Об этом принято молчать
								</h4>
								<p class="reasons-list__text">
									Почему-то считается, что, если ты знаешь что-то полезное, тебе нужно об этом молчать. Я не согласен с таким мнением, поэтому на таких мастер-классах я передаю свой опыт открыто и безвозмездно
								</p>
							</div>
						</li>
						<li class="reasons-list__item flex">
							<div class="reasons-list__index">
								2
							</div>
							<div class="reasons-list__content">
								<h4 class="reasons-list__title">
									Я не знаю, когда повторю этот материал
								</h4>
								<p class="reasons-list__text">
									Я стараюсь проводить мастер-классы максимально часто, однако информация на этой встрече будет максимально практической и лаконичной, поэтому повторить ее я смогу не скоро
								</p>
							</div>
						</li>
						<li class="reasons-list__item flex">
							<div class="reasons-list__index">
								3
							</div>
							<div class="reasons-list__content">
								<h4 class="reasons-list__title">
									8-летний опыт
								</h4>
								<p class="reasons-list__text">
									Я расскажу, как справиться с основными проблемами и ошибками в вашей работе как веб-дизайнеров, с которыми я сам сталкивался на протяжении 8 лет работы на фрилансе
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="reg" id="reg">
		<div class="container">
			<h2>
				<span class="red">Регистрация</span> на мастер-класс
			</h2>
			<p class="desc">
				Заполните форму, чтобы забронировать за собой место и получить на почту детали проведения онлайн-мастер-класса
			</p>
			<div class="details">
				<span class="details__time">
					<i class="fa fa-clock-o"></i>
					19:00  
				</span>  
				<span class="details__place">
					<i class="fa fa-home"></i>
					У вас дома
				</span> 
			</div>
			<form action="#" class="form flex">
				<input type="text" name="name" required placeholder="Имя" class="form__input">
				<input type="email" name="email" required placeholder="E-mail" class="form__input">
				<input type="tel" name="phone" required placeholder="Телефон" class="form__input">
				<button type="submit" class="form__btn button">
					Зарегистрироваться
				</button>
			</form>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="credits flex">
				<div class="credits__rights">
					© Все права защищены
				</div>
				<div class="credits__author">
					WAYUP & Андрей Гаврилов
				</div>
				<a href="#" class="credits__politics">
					Политика конфиденциальности
				</a>
			</div>
		</div>
	</footer>
</body>
</html>