BODY {
    background-image: url(WabEhmTsWo8.jpg) ;
    background-position: top center;
    Background-repeat: repeat-y ;
}
H1{
   color:purple; 
   font-size:25px
}
H2{
   color:red; 
   font-size:25px
}
p3{
   color:firebrick; 
   font-size:20px
}
p4{ 
   font-size:19px
}
h4{ 
   font-size:19px
}
h5{ 
   font-size:24px
}