@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf') format('truetype'),
        url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
}